body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: aliceblue;
}
form{
  margin-left: 45px;
  padding-left: 70px;
padding-bottom: 10px;
margin-top: 30px;
width: 78%;
background-color: aliceblue;
height: 100vh;
border: 3px solid #FAF9F6;
border-radius: 10px;
box-shadow: 3px 3px 3px 3px gray;
}
input{
  height: 30px;
  align-self: center;
  font-family: inherit;
    width: 250px;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}
label{
  padding: 10px;
  font-size: 25px;
    color: darkcyan;
}
.Photo{
  width: 60%;
  margin-left: 11px;
  margin-right: -52px;
  margin-bottom: -6px;
  text-align: center;
  width: 100%;
  height: 90vh;  
}
.Title{
  font-size: 84px;
  font-family: 'Times New Roman', Times, serif;
  color: cadetblue;
  text-align: left;
  padding-right: 42px;
  padding-bottom: 35px;
  margin-left: 21px;
}
.sign-in{
  display: flex;
  flex-direction: row;
}
.format{
  display: flex;
  flex-direction: column;
  margin-right: 148px;
}

.SignInBox{
  
margin-left: 138px;
padding-left: 125px;
padding-bottom: 10px;
margin-top: 58px;
width: 80%;
background-color: #FAF9F6;
border: 3px solid #FAF9F6;
border-radius: 10px;
box-shadow: 3px 3px 3px 3px gray;
}
.sign-in-photo{
  width: 49%;
  height: 99vh;
  margin-bottom: 63px;
  padding-right: 0px;
  padding-left: 20px;
  margin-left: 14px;
  border-radius: 10px;
  display: flex;
  align-self: end;

}
.sign-in-photo img{
  text-align: center;
  width: 100%;
  height: 90vh;
}
.content{
  font-family: 'Times New Roman', Times, serif;
  text-align: center;

}
.button{
  color: darkcyan;
    font-size: larger;
    align-self: baseline;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    --tw-bg-opacity: 1;
    background-color: white !important;
    border-radius: 0.75rem;
    margin-top: 15px;
}
    

.sign-up form{
  margin-left: 8px;
  padding-left: 70px;
  padding-bottom: 10px;
  margin-top: 30px;
  width: 104%;
  display: flex;
  background-color: aliceblue;
  height: 133vh;
  border: 3px solid #FAF9F6;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 3px grey;
}
.sign-up-photo{
  width: 55%;
  height: 101%;
  margin-right: -109px;
  margin-bottom: 63px;
  padding-right: -13px;
  padding-left: 20px;
  margin-left: 8px;
  border-radius: 10px;
  display: flex;

}
.sign-up-photo img{
  text-align: center;
  width: 100%;
  height: 90vh;
}
.Tsignup{
  font-size: 55px;
  font-family: 'Times New Roman', Times, serif;
  color: cadetblue;
  text-align: left;
  padding-right: 42px;
  padding-bottom: 35px;
  margin-left: 21px;
}
.content1{
  font-family: 'Times New Roman', Times, serif;
  text-align: center;

}
.content1 label{
  font-size: larger;
}
.Review form{
  margin-left: 151px;
    padding-left: 74px;
    padding-bottom: 10px;
    margin-top: 10px;
    width: 73%;
    display: flex;
    background-color: aliceblue;
    height: 108vh;
    border: 3px solid #FAF9F6;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px grey;
}
.Review-photo{
  width: 53%;
  height: 102%;
  margin-bottom: 61px;
  margin-top: -2px;
  padding-right: -13px;
  margin-left: 7px;
  border-radius: 10px;
  display: flex;

}
.Complaint form{
  margin-left: 151px;
    padding-left: 74px;
    padding-bottom: 10px;
    margin-top: 10px;
    width: 73%;
    display: flex;
    background-color: aliceblue;
    height: 97vh;
    border: 3px solid #FAF9F6;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px grey;
}
.Report form{
  margin-left: 45px;
  padding-left: 70px;
  padding-bottom: 10px;
  margin-top: 30px;
  width: 88%;
  display: flex;
  background-color: aliceblue;
  height: 109vh;
  border: 3px solid #FAF9F6;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 3px grey;
}
.TReport{
  font-size: 50px;
  font-family: 'Times New Roman', Times, serif;
  color: cadetblue;
  text-align: left;
  
  padding-bottom: 35px;
  margin-left: 21px;
}
.Report-photo{
  width: 62%;
  height: 108vh;
  margin-bottom: 61px;
  padding-right: -13px;
  margin-right: 9px;
  padding-left: 50px;
  border-radius: 10px;
  display: flex;


}
.Complaint-photo{
  width: 48%;
  height: 96vh;
  margin-bottom: 50px;
  padding-right: -13px;
  margin-right: 0px;
  padding-left: 50px;
  border-radius: 10px;
  display: flex;


}
.card {
  width: 105%;
  border-radius: 20px;
  font-size: 16px;
  margin-left: -15px;
  background-color: #E9EDF0;
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between  ;
  /* background-color: cadetblue; */
  background-image: url('https://images.pexels.com/photos/2680270/pexels-photo-2680270.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.cardBody {
   /* background-color: red;  */
  margin: 0px 10px;
  display: flex;
  padding: 0 10px;
  align-items: center;
  justify-items: center;
}

.cardHeader {
  color: black;
  width: 150px;
  display: flex;
  margin: 5px;
  justify-content: space-between;
}
.cardHeader h5{
  margin-right: -7px;
  }
.cardHeader h4{
margin-left: 10px;
color: white;
}
.cardBody h4{
  margin-left: 5px;
  color: white;
  }
.cardButton{
  background-color: lightseagreen;
  color: white;
  padding: 10px;
  font-size: 18px;
  border-radius: 10px;
  margin: 0px 5px;
}

.FeedbackHeader{
  font-weight: bold;
  width: 200px;
}
.datePicker{
  /* padding: 10px; 
   background-color: aquamarine;  */
  display: flex;
  margin: 20px;
  align-items: flex-end
}

/* .homeMainDiv{
  background-color: #2d67b1;
  width: 80%;
  height: 500px;
  position: fixed;
  top: 100px;
  right: 30px;
} */

.homeMainDiv .homeMainDivHeader{
  font-size: 40px;
  color: #111827;
  margin: 20px 30px;
  font-weight: bold;
}

.homeMainDivFormLabel{
  margin: 50px;
  color: white;
  font-size: 20px;
}

.homeMainDivFormLabelInput{
  margin-left: 10px;
  border-radius: 10px;
  color: black;
  padding: 0px 10px;
}

.homeMainDivFormLabelButton{
  background-color: white;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  justify-content: center;
  font-weight: bold;
}

.ticketDisplay{
  display:flex;
}

.ticketsView{
  font-size: 20px;
  color: black;
  margin: 10px;
}

.homeHeader{
  font-size: 20px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.Edit{
  font-size: 42px;
  font-family: 'Times New Roman', Times, serif;
  color: cadetblue;
  text-align: left;
  padding-right: 42px;
  padding-bottom: 35px;
  margin-left: 21px;
}
.Edit-photo{
  width: 54%;
  height: 86vh;
  margin-bottom: 63px;
  padding-right: -13px;
  border-radius: 10px;
  display: flex;
  align-self: end;
}
.EditT-photo{
  width: 52%;
  height: 86vh;
  margin-bottom: 63px;
  padding-right: -13px;
  border-radius: 10px;
  display: flex;
  align-self: end;
}
.editT form{
  margin-left: 200px;
    padding-left: 70px;
    padding-bottom: 10px;
    margin-top: 30px;
    width: 71%;
    background-color: aliceblue;
    height: 87vh;
    border: 3px solid #FAF9F6;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px grey;
}
.edit form{
  margin-left: 45px;
  padding-left: 70px;
  padding-bottom: 10px;
  margin-top: 30px;
  width: 95%;
  background-color: aliceblue;
  height: 87vh;
  border: 3px solid #FAF9F6;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 3px gray;
}
.cardButton1{
  background-color: lightseagreen;
  color: white;
  padding: 20px;
  font-size: 22px;
  border-radius: 10px;
  margin: 0px 5px;
}
.cardButton2{
  background-color: lightseagreen;
  color: white;
  padding: 20px;
  font-size: 22px;
  border-radius: 10px;
  margin: 0px 5px;
}
.ReviewDes textarea{

    width: 250px;
    height: 80px;
    align-self: center;
}
.ReviewCard {
  display:flex;
  width: 260%;
  flex-direction: row;
  height: 120PX;
}
.ReviewCard figure{
  width: 250px;
}
.ReviewCard figure blockquote {
 display: contents;
}
.ReviewCard1 {
  display:flex;
  width: 260%;
  flex-direction: row;
  height: 120PX;
}
.ReviewCard1 figure{
  width: 200px;
}
.ReviewCard1 figure blockquote {
 display: contents;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


@tailwind base;
@tailwind components;
@tailwind utilities;